
<form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
    <h2> Login ! </h2>
    <div>
        <label for="username">username : </label>
        <input type="text" id="username" formControlName="name" placeholder="name">
    </div>
    <div>
        <label for="password">password: </label>
        <input type="text" id="password" formControlName="password" placeholder="password">
    </div>
    <div class="bookForm">
        <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
        <button class="btn btn-primary">Envoyer</button>
    </div>
</form>
